body {
    background-color: beige;
    align-items: center;
    justify-content: center;
}
.container {
    width: 400px;
    margin: auto;
}

#input {
    width: 70%;
}

#btn {
    width: max-content;
    align-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#result {
    margin-bottom: 50px;
}

.li {
    padding: 4px 8px;
    background: chartreuse;
    border: 1px solid brown;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}